@import url('https://fonts.googleapis.com/css2?family=Sorts+Mill+Goudy:ital@0;1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fustat:wght@200..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fustat:wght@200..800&family=Varela+Round&display=swap');

:root{
    --renascimento-main-color: #BFA15F;
    --barroco-main-color: #4b3c3c;
    --neoclassicismo-main-color: #A1B2C9;
    --romantismo-main-color: #830000;
    --impressionismo-main-color: #8DB596;
    --posimpressionismo-main-color: #e5bd45;
    --cubismo-main-color:  #3D3A4B;
    --used-color: white;
}

body, html{
    min-width: 100vw;
    min-height: 100dvh;
    overflow-x: hidden;
}

#navbar{
    z-index: 100;
}

.brand-img{
    transition: all 1s;
    max-width: 50px;
    max-height: 50px;
}

.brand-img-grown{
    transition: all 1s;
    max-width: 90px;
    max-height: 90px;
}


.viewport{
    background-color: #EAE2B7;
    width: 100vw;
    height: 100dvh;
}


.title-header{
    transition: top 1s, font-size 1s;
    text-decoration: none;
    position: relative;
    right: calc(2vw + 3vh);
    top: 22vh;
    font-size: calc(3vw + 8vh);
    font-family: 'Fustat';
    font-style: normal;
    font-weight: 400;
    color: #FFFFFF;
    text-shadow: 7px 8px 0px #000000;

}

.on-nav{
    transition: top 1s, font-size 1s;
    left: 0px;
    top: 5px;
    font-size: 2.7em;
    align-self: flex-end;
    text-shadow: 4px 5px 0px #000000;
    color: white;
    margin: 0px 0px 0px 10px;
}

.on-nav-2{
    transition: none;
    left: 0px;
    top: 5px;
    font-size: 2.7em;
    align-self: flex-end;
    text-shadow: 4px 5px 0px #000000;
    color: white;
    margin: 0px 0px 0px 10px;
}

.title-header-space{
    font-size: 9em;
}

.title-container{
    transition: all 1s;
    position: relative;
    top: 22vh;
    background-color: #002f49;
    align-self: center;
    border: 4px solid black;
    z-index: 0;
}

.title-space{
    font-size: calc(3vw + 8vh);
}

.title-subheader{
    position: relative;
    font-size: 1.3rem;
    font-family: 'Varela Round';
    font-style: normal;
    color: white;
    letter-spacing: 1.2px;
    line-height: 35px;
}

.container-hidden{
    transition: all 0.7s;
    opacity: 0;
    transform: translate(-300px);
    visibility: hidden;
}

.container-shown{
    transition: all 0.7s;
    opacity: 1;
    transform: translate(0px);  
    visibility: visible;
}

.container-text-hidden{
    transition: all 0.6s;
    opacity: 0;
    visibility: hidden;
}

.container-text-shown{
    transition: all 0.6s;
    opacity: 1;
    visibility: visible;
}

.text-highlight-orange{
    color: #F77F00;
}

.art-clippath-1{
    transition: all 1s;
    position: absolute;
    clip-path: polygon(12% 74%, 12% 100%, 0 100%, 0 80%);
    background: none  no-repeat center;
    bottom: 0px;
    width: 100%;
    height: 40vh;
    z-index: 1;
}

.art-clippath-1-img{
    transition: all 1s;
    position: absolute;
    clip-path: polygon(100% 0, 100% 100%, 0 100%, 0 82%);
    bottom: 5px;
    width: 99.5%;
    height: 39vh;
    object-fit: cover;
    object-position: 0 70%;
    opacity: 1;
    z-index: 1;
}

.art-clippath-1-mask{
    transition: all 1s;
    background-color: #D62828;
    position: absolute;
    clip-path: polygon(100% 0, 100% 100%, 0 100%, 0 82%);
    bottom: 5px;
    width: 99.5%;
    height: 39vh;
    opacity: 1;
    z-index: 3;
    margin-left: 5px;
}

.art-clippath-1-grow{
    transition: 1s all;
    clip-path: polygon(100% 0, 100% 100%, 0 100%, 0 80%);
}

.art-clippath-1-active{
    transition: 1.5s clip-path, 1s 0.5s height ;
    clip-path: polygon(100% 0, 100% 100%, 0 100%, 0 0);
    height: 100dvh;
}

.art-clippath-1-active-border{
    transition: 1.5s clip-path, 1s 0.5s height, 1s 2s background-color ;
    clip-path: polygon(100% 0, 100% 100%, 0 100%, 0 0);
    height: 100dvh;
    width: 100vw;
    background-color: #000000;
}


.art-clippath-1-shown{
    transition: clip-path 1.5s, height 1s 0.5s, opacity 1s, background-color 1s;
    clip-path: polygon(100% 0, 100% 100%, 0 100%, 0 0);
    height: 100dvh;
    background-color: transparent;
    opacity: 0.2;
}

@keyframes change-bg-animation {
    from {opacity: 0;}
    to {opacity: 1;}
}

.artists-menu{
    transition: all 0.5s;
    border: 3px solid black;
    height: 7vh;
    align-content: center;
    flex-wrap: wrap;
    background-color: rgba(0, 0, 0, 0.507);
    color: white;
}

.hero-bg-div-hidden{
    background-color: #000000;
}

.renascimento {
    transition: all 0.5s;
    height: 10vh;
    align-content: center;
    background-color: var(--renascimento-main-color);
}


.renascimento-hero-section-bg{
    background: url(images/rafael-sanzio/heroSectionBg-rs.jpg) no-repeat center/cover;
    height: 100dvh;
    width: 100vw;
    animation: change-bg-animation 1s forwards ease-out;
}

.barroco {
    transition: all 0.5s;
    height: 10vh;
    align-content: center;
    background-color: var(--barroco-main-color);
}

.barroco-hero-section-bg{
    background: url(images/caravaggio/heroSectionBg-caravaggio.jpg) no-repeat center/cover;
    height: 100dvh;
    width: 100vw;
    animation: change-bg-animation 1s forwards ease-out;
}

.neoclassicismo {
    transition: all 0.5s;
    height: 10vh;
    align-content: center;
    background-color:var(--neoclassicismo-main-color);
}

.neoclassicismo-hero-section-bg{
    background: url(images/Jacques-louis-david/heroSectionBg-david.jpg) no-repeat center/cover;
    height: 100dvh;
    width: 100vw;
    animation: change-bg-animation 1s forwards ease-out;
}

.romantismo {
    transition: all 0.5s;
    height: 10vh;
    align-content: center;
    background-color: var(--romantismo-main-color);
}

.romantismo-hero-section-bg{
    background: url(images/goya/heroSectionBg-goya.jpg) no-repeat center/cover;
    height: 100dvh;
    width: 100vw;
    animation: change-bg-animation 1s forwards ease-out;
}

.impressionismo {
    transition: all 0.5s;
    height: 10vh;
    align-content: center;
    background-color: var(--impressionismo-main-color);
}

.impressionismo-hero-section-bg{
    background: url(images/monet/heroSectionBg-monet.jpg) no-repeat center/cover;
    height: 100dvh;
    width: 100vw;
    animation: change-bg-animation 1s forwards ease-out;
}

.posimpressionismo {
    transition: all 0.5s;
    height: 10vh;
    align-content: center;
    background-color: var(--posimpressionismo-main-color);
}


.pos-impressionismo-hero-section-bg{
    background: url(images/van-gogh/heroSectionBg-vangogh.jpg) no-repeat center/cover;
    height: 100dvh;
    width: 100vw;
    animation: change-bg-animation 1s forwards ease-out;
}

.cubismo {
    transition: all 0.5s;
    height: 10vh;
    align-content: center;
    background-color: var(--cubismo-main-color);
}

.cubismo-hero-section-bg{
    background: url(images/picasso/heroSectionBg-picasso.jpg) no-repeat center/cover;
    height: 100dvh;
    width: 100vw;
    animation: change-bg-animation 1s forwards ease-out;
}

.artists-menu-rafael{
    background: url(images/rafael-sanzio/heroSectionBg-rs.jpg) no-repeat center ;
    background-size: cover;
}

.artists-menu-caravaggio{
    background: url(images/caravaggio/self-portrait-caravaggio.jpg) no-repeat center;
    background-size: cover;
}

.artists-menu-jacques{
    background: url(images/Jacques-louis-david/self-portrait-david.jpg) no-repeat center;
    background-size: cover;
}

.artists-menu-goya{
    background: url(images/goya/self-portrait-goya.jpg) no-repeat center ;
    background-size: cover;
}
.artists-menu-monet{
    background: url(images/monet/self-portrait-monet.jpg) no-repeat center;
    background-size: cover; 
}

.artists-menu-vangogh{
    background: url(images/van-gogh/self-portrait-vangogh.jpg) no-repeat center ;
    background-size: cover;
}

.artists-menu-frida{
    background: url(images/frida/self-portrait-frida.jpg) no-repeat center ;
    background-size: cover;
}

.bg-active{
    transition: opacity 1s 0.6s;
    opacity: 1;
}

.bg-inactive{
    animation: bg-inac 0.3s 0.7s forwards;
}

@keyframes bg-inac{
    from{opacity: 1;}
    to{opacity: 0;}
}


.divider{
    background-color: #eeece0;
    z-index: 100;
}

.button-min{
    display: none;
}

.nav-icon{
    color: white;
    scale: 2;
}

[class^="artist-name"]{
    align-content: center;
}

[class^="artist-name"] h1{
    font-size: calc(3.5vw + 5vh);
}

.artist-name-vg {
    background: var(--posimpressionismo-main-color);
}

.artist-name-fg {
    background: var(--romantismo-main-color);
}

.artist-name-rs{
    background: var(--renascimento-main-color);
}

.artist-name-cr{
    background: var(--barroco-main-color);
}

.artist-name-jd{
    background: var(--neoclassicismo-main-color);
}

.artist-name-cm{
    background-color: var(--impressionismo-main-color);
}

.artist-name-pp{
    background-color: var(--cubismo-main-color);
}

[class^="artist-text"]{
    align-self: center;
    row-gap: 30px;
}

[class^="artist-text"] h1{
    font-size: calc(2.5vw + 2vh);
}

[class^="artist-text"] h3{
    text-align: left;
    font-size: calc(1vw + 2vh);
}

[class^="expand-main"]{
    align-self: center;
    position: relative;
    width:70px;
    height: 70px;
    border-radius: 50%;
    display: flex;
}

[class^="expand-main"] ion-icon{
    font-size: calc(3.5vw + 5vh);
    align-self: center;
    transform: rotate(180deg);
}

.expand-main-vg{
    background-color: var(--posimpressionismo-main-color);
}

.expand-main-fg{
    background-color: var(--romantismo-main-color);
}

.expand-main-rs{
    background-color: var(--renascimento-main-color);
}

.expand-main-cr{
    background-color: var(--barroco-main-color);
}

.expand-main-jd{
    background-color: var(--neoclassicismo-main-color);
}

.expand-main-cm{
    background-color: var(--impressionismo-main-color);
}

.expand-main-pp{
    background-color: var(--cubismo-main-color);
}

.expand-disabled ion-icon{
    transition: transform 1s;
    transform: rotate(180deg);
}

.expand-active ion-icon{
    transition: transform 1s;
    transform: rotate(360deg);
}

[class^="expand-main"]:hover .expand-btn-label{
    transition: opacity 8s linear;
    opacity: 1;
}

.expand-btn-label{
    font-size: 20pt;
    font-weight: 500;
    margin-left: 10px;
    opacity:0;
}

[class^='artist-picture-right']{
    align-self: flex-end;
    position: relative;
    overflow: visible;
    height: 650px;
}

[class^='artist-picture-left']{
    align-self: flex-end;
    position: relative;
    margin-left: -100px;
    height: 650px;

}

.artist-picture-right-vg{
    background: url(images/van-gogh/van-gogh-divider-paint.png) no-repeat -50px 200px ;
}

.artist-picture-right-fg{
    background: url(images/goya/goya-divider-paint.png) no-repeat -30px 200px;
}

.artist-picture-right-rs{
    background: url(images/rafael-sanzio/rafael-divider-paint.png) no-repeat -50px 200px;
}

.artist-picture-right-cr{
    background: url(images/caravaggio/caravaggio-divider-paint.png) no-repeat -120px 200px;
}

.artist-picture-right-jd{
    background: url(images/Jacques-louis-david/jacques-louis-david-divider-paint.png) no-repeat -80px 200px;
}

.artist-picture-right-cm{
    background: url(images/monet/monet-divider-paint.png) no-repeat -50px 100px;
}

.artist-picture-right-pp{
    background: url(images/picasso/picaso-divider-paint.png) no-repeat -50px 200px;
}

[class^=artist-info-subtitle]{
    font-size: 25pt;
    margin-bottom: 15px;
}

.artist-info-subtitle-vg{
    color: rgb(223, 171, 18);
}

.artist-info-subtitle-fg{
    color: #830000;
}

.artist-info-subtitle-rs{
    color: var(--renascimento-main-color);
}

.artist-info-subtitle-cm{
    color: var(--impressionismo-main-color);
}

.artist-picture-left-jd{
    color: var(--neoclassicismo-main-color);
}

.artist-info-subtitle-cg{
    color: var(--barroco-main-color);
}

.artist-info-subtitle-pp{
    color: var(--cubismo-main-color);
}

[class^=first-letter]{
    font-size: 70pt;
    line-height: 15pt;
    font-weight: 500;
}

.first-letter-vg{
    color: var(--posimpressionismo-main-color);
}

.first-letter-fg{
    color: #830000;
}

.first-letter-rs{
    color: var(--renascimento-main-color);
}

.first-letter-cr{
    color: var(--barroco-main-color);
}

.first-letter-jd{
    color: var(--neoclassicismo-main-color);
}

.first-letter-cm{
    color: var(--impressionismo-main-color);
}

.first-letter-pp{
    color: var(--cubismo-main-color);
}

.first-paragraph{
    font-size: 16pt;
    font-weight: 500;
}

.main-info-text{
    align-self: center;
    font-size: 15pt;
    line-height: 28px;
    text-align: start;
    vertical-align: baseline;
    overflow-wrap: break-word;
}

[id*="card-btn"]{
    text-decoration: none;
    cursor: pointer;
    font-size: 15pt;
    font-weight: 700;
}

[id^="vg-card-btn"]{
    transition: color 0.6s;
    color: var(--posimpressionismo-main-color);
}

[id^="vg-card-btn"]:hover{
    transition: color 0.6s;
    color: rgb(32, 12, 143);
}

[id^="fg-card-btn"]{
    transition: color 0.6s;
    color: #830000;
}

[id^="fg-card-btn"]:hover{
    transition: color 0.6s;
    color: rgb(255, 102, 0);
}

[id^="rs-card-btn"]{
    transition: color 0.6s;
    color: var(--renascimento-main-color);
}

[id^="rs-card-btn"]:hover{
    transition: color 0.6s;
    color: rgb(71, 38, 15);
}

[id^="cr-card-btn"]{
    transition: color 0.6s;
    color: var(--barroco-main-color);
}

[id^="cr-card-btn"]:hover{
    transition: color 0.6s;
    color: rgb(146, 32, 24);
}

[id^="jd-card-btn"]{
    transition: color 0.6s;
    color: var(--neoclassicismo-main-color);
}

[id^="jd-card-btn"]:hover{
    transition: color 0.6s;
    color:  #5f6b7c;
}

[id^="cm-card-btn"]{
    transition: color 0.6s;
    color: var(--impressionismo-main-color);
}

[id^="cm-card-btn"]:hover{
    transition: color 0.6s;
    color:  #3c6145;
}

[id^="pp-card-btn"]{
    transition: color 0.6s;
    color: var(--cubismo-main-color);
}

[id^="pp-card-btn"]:hover{
    transition: color 0.6s;
    color:  #6961a8;
}

.card-img-top{
    max-height: 500px;
    object-fit: contain;
    padding: 10px 10px 0px 10px;
}

[class^="card-title"]{
    font-size: 1.2em;
}

.card-title-vg{
    color: rgb(32, 12, 143);
}

.card-title-fg{
    color: rgb(255, 102, 0);
}

.card-title-rs{
    color: rgb(71, 38, 15);;
}

.card-title-cr{
    color: rgb(146, 32, 24);
}

.card-title-jd{
    color: #5f6b7c;
}

.card-title-cm{
    color: #3c6145;
}

.card-title-pp{
    color: #6961a8;
}

.card-text {
    font-size: 0.9em;
    font-weight: 600;
    text-align: left;
    text-wrap: wrap;
}

.section-img{
    margin: 30px 0px;
}

.section{
    align-items: center;
}

.more-artworks-container-vg{
    background-color: var(--posimpressionismo-main-color);
}

.more-artworks-container-fg{
    background-color: #830000;
}

.more-artworks-container-rs{
    background-color: var(--renascimento-main-color);
}

.more-artworks-container-cr{
    background-color: var(--barroco-main-color);
}

.more-artworks-container-jd{
    background-color: var(--neoclassicismo-main-color);
}

.more-artworks-container-cm{
    background-color: var(--impressionismo-main-color);
}

.more-artworks-container-pp{
    background-color: var(--cubismo-main-color);
}

@keyframes bgArtAnim{
    from{background-position: 0px;}
    to{background-position: 3647px;}
}

.artist-infos-main {
    display: flex;
    flex-direction: column;
    position: relative;
    width: 100%;
    height: fit-content;
    opacity: 100%;
}

.artist-section-disable {
    display: none;
    position: relative;
    animation: fecharAnim 1s forwards;
}

@keyframes fecharAnim{
    from{height: 100%; opacity: 100%;}
    to{height: 0%; opacity: 0%;}
}

.artist-section-enable{
    position: relative;
    display: flex;
    width: 100%;
    height: fit-content;
    animation: abrirAnim 0.5s linear backwards;
}

@keyframes abrirAnim {
    from{height: 0%; opacity: 0%;}
    to{height: 100%; opacity: 100%}
}

.container-circle-arrow{
    display: flex;
    order: 3;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: rgba(25, 86, 106, 0);
    justify-content: center;
    align-items: center;
    outline: solid 5px rgba(25, 86, 106, 0.90);
    cursor: pointer;
}

.container-circle-arrow:hover{
    transition: all 1s linear;
    background-color: rgba(10, 148, 194, 0.623);
    outline-color: transparent;
}

.container-circle-arrow:not(:hover){
    transition: all 1s linear;
    background-color: rgba(25, 86, 106, 0);
    outline-color: rgba(25, 86, 106, 0.90);
}

.container-circle-arrow:hover img{
    transition: transform 0.7s ease-in-out;
    transform: scale(0.9) translatex(5px);
}

.container-circle-arrow:not(:hover) img{
    transition: transform 0.7s ease-in-out;
    transform: scale(0.8);
}

.container-first-arrow{
    width: 35px;
    height: 35px;
}

.container-second-arrow{
    width: 35px;
    height: 35px;
    rotate: -180deg;
}


[id$="canvas-container"], [id$="canvas-container-second"]{
    height: 100dvh;
}

#first-bg{
    background: url(images/van-gogh/van-gogh-first-bg.png) no-repeat fixed;
    background-size: cover;
}

[id^='canvas']{
    height: 80%;
}

[class^="moldura-first"]{
    height: 100%;
    border: 2px solid rgb(255, 255, 255);
    margin: 10px;
    scale: 1;
    transition: all 1s ease-in-out;
    width: 30%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

[class^="moldura-first"]::before{
    content: '';
    position: absolute;
    border-color: rgb(255, 255, 255);
    border-style: solid;
    border-width: 4px 0px 0px 0px;
    border-radius: 10;
    width: 50%;
    height: 60px;
    top: -20px;
    left: 25%;
}

.arte-info{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    position: relative;
    background-color: rgba(255, 255, 255);
    width: 33%;
    height: 100%;
    margin: 10px 4%;
    padding: 20px;
    opacity: 100%;
    max-height: 650px;
    border-radius: 10px;
    cursor: default;
}

.info-disabled{
    position: relative;
    top: 15%;
    animation: closeAnim 0.5s forwards;
    display: none;
}

@keyframes closeAnim{
    from{height: 75%; opacity: 100%;}
    to{height: 0%; opacity: 0%;}
}

.arte-info-on{
    position: relative;
    display: flex;
    background-color: rgba(255, 255, 255);
    width: 33%;
    height: 100%;
    max-height: 700px;
    overflow-y: scroll;
    top: 10%;
    animation: openAnim 0.5s linear 0.5s backwards;
    user-select: none;
}

@keyframes openAnim {
    from{height: 0%; opacity: 0%;}
    to{height: 100%; opacity: 100%}
}

.arte-info h1{
    margin: 20px;
    font-size: 29pt;
    font-style: italic;
    font-weight: 500;
    text-align: center;
    padding: 10px;
    border-radius: 20px;
}

.arte-info ul{
    text-align: start;
    list-style: none;
    padding: 0px;
    margin: 0px;
}

.arte-info li{
    font-size: 12pt;
    margin: 7px;
    font-weight: 600;
}

.arte-info span{
    font-weight: lighter;
}

.arte-info p:first-of-type{
    text-align: center;
    font-style: italic;
    font-size: 14pt;
    font-weight: 600;
    margin: 10px 0px 20px 0px;
}

.arte-info{
    font-size: 13pt;
    font-weight: 400;
    text-indent: 20px;
    text-align: justify;
    text-wrap: pretty;
}

/* SECOND BG */

#vangogh-bg-light{
    background-size: cover;
}


[class^="moldura-second"]{
    height: 100%;
    border: 2px solid rgb(255, 255, 255);
    margin: 10px;
    scale: 1;
    transition: all 1s ease-in-out;
    width: 30%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

[class^="moldura-second"]::before{
    content: '';
    position: absolute;
    border-color: rgb(255, 255, 255);
    border-style: solid;
    border-width: 4px 0px 0px 0px;
    border-radius: 10;
    width: 57%;
    height: 60px;
    top: -20px;
    right: 25%;
}

.zoom-art, .zoom-art-2{
    border-radius: 50%;
    background-color: rgba(22, 22, 22, 0.664);
    position: relative;
    width: 50px;
    height: 50px;
    line-height: 50px;
    border: none;
    color: white;
    right: 45%;
    bottom: 45%;
    font-size: 25pt;
    opacity: 1;
}

.blurdiv{
    position: absolute;
    display: flex;
    justify-content: center;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    z-index: 100;
    background-color: rgba(0, 0, 0, 0.904);
}

.img-limit{
    transform: scale(0.98);
}

.img-limit:hover{
    cursor: zoom-in;
}

.close-btn{
    position: absolute;
    color: white;
    background-color: transparent;
    border-radius: 10px;
    z-index: 100;
    left: 95%;
    top: 5%;
    border: none;
    width: 50px;
    height: 50px;
    line-height: 50px;
    font-size: 22pt;
}

.back-arrow{
    transition: all 0.5s 10s, opacity 0.3s;
    position: fixed;
    background-color: rgba(255, 255, 255, 0.425);
    color: rgb(0, 0, 0);
    right: 100px;
    bottom: 80px;
    width: 0px;
    height: 0px;
    font-size: 25pt;
    border-radius: 50%;
    border: none;
    opacity: 0;
    line-height: 50%;
    text-align: center;
    pointer-events: none;
}

.shown{
    transition: opacity 0.5s ;
    pointer-events: all;
    width: 60px;
    height: 60px;
    opacity: 1
}

.hidden{
    display: none;
}

.frame-back-btn{
    transition: all 0.5s 10s, opacity 0.3s;
    position: fixed;
    background-color: rgba(241, 240, 240, 0.199);
    color: rgb(255, 255, 255);
    left: 20px;
    top: 20px;
    width: 40px;
    height: 40px;
    font-size: 25pt;
    border-radius: 50%;
    border: none;
    opacity: 1;
    line-height: 50%;
    text-align: center;    
}


@media (min-width: 1399.99px){
    [class^='moldura']{
        border: 4px solid #ffffff;
    }

    .moldura-first-1:focus, .moldura1-hover:hover{
        transition: all 1s ease-in-out;
        width: 200%;
        height: 105%;
    }

    .moldura-first-2:focus, .moldura2-hover:hover{
        transition: all 1s ease-in-out;
        width: 140%;
        height: 105%;
    }

    .moldura-first-3:focus, .moldura3-hover:hover{
        transition: all 1s ease-in-out;
        width: 200%;
        height: 105%;
    }

    .moldura-first-4:focus, .moldura4-hover:hover{
        transition: all 1s ease-in-out;
        width: 160%;
        height: 105%;
    }
    
    .moldura-first-1:focus::before{
        transition: width 0.5s linear 0.2s, border-right-width 0.3s linear 0.5s;
        width: 195%;
        border-right-width: 4px;
    }

    .moldura-first-2:focus::before{
        transition: width 0.5s linear 0.2s, border-right-width 0.3s linear 0.5s;
        width: 199%;
        border-right-width: 4px;
    }

    .moldura-first-3:focus::before{
        transition: width 0.5s linear 0.2s, border-right-width 0.3s linear 0.5s;
        width: 157%;
        border-right-width: 4px;
    }

    .moldura-first-4:focus::before{
        transition: width 0.5s linear 0.2s, border-right-width 0.3s linear 0.5s;
        width: 143%;
        border-right-width: 4px;
    }

    [class^="moldura-first"]:not(:focus)::before{
        transition: width 0.5s linear 0.2s, border-right-width 0.3s linear;
        width: 50%;
        left: 25%;
        border-right-width: 0px;
    }

    .moldura-second-5:focus, .moldura5-hover:hover{
        transition: all 1s ease-in-out;
        width: 200%;
        height: 105%;
    }

    .moldura-second-6:focus, .moldura6-hover:hover{
        transition: all 1s ease-in-out;
        width: 160%;
        height: 105%;
    }

    .moldura-second-7:focus, .moldura7-hover:hover{
        transition: all 1s ease-in-out;
        width: 200%;
        height: 105%;
    }

    .moldura-second-8:focus, .moldura8-hover:hover{
        transition: all 1s ease-in-out;
        width: 160%;
        height: 105%;
    }

    
    .moldura-second-5:focus::before{
        transition: width 0.5s linear 0.2s, border-left-width 0.3s linear 0.5s;
        width: 143%;
        border-left-width: 4px;
    }

    .moldura-second-6:focus::before{
        transition: width 0.5s linear 0.2s, border-left-width 0.3s linear 0.5s;
        width: 157%;
        border-left-width: 4px;
    }

    .moldura-second-7:focus::before{
        transition: width 0.5s linear 0.2s, border-left-width 0.3s linear 0.5s;
        width: 172%;
        border-left-width: 4px;
    }

    .moldura-second-8:focus::before{
        transition: width 0.5s linear 0.2s, border-left-width 0.3s linear 0.5s;
        width: 210%;
        border-left-width: 4px;
    }

    [class^="moldura-second"]:not(:focus)::before{
        transition: width 0.5s linear 0.2s, border-right-width 0.3s linear;
        width: 50%;
        right: 25%;
        border-right-width: 0px;
    }
}

/* Médio */
@media (min-width: 992px) and (max-width: 1399.98px) {
    header input{
        outline: none;
        text-indent: 4%;
        height: 40px;
        min-width: 330px;
    }

    .button-min{
        display: flex;
    }

    [class^='moldura-']{
        width: 100%;
    }

    [class^='moldura-']:focus{
        transition: height 1s;
        height: 500%;
    }

    .element-open{
        transition: 0.5s all;
    }

    .zoom-art{
        top: 2%;
    }

    .zoom-art-2{
        top: 2%;
        left: 40%;
    }

}

/*minimo*/
@media (max-width: 991.98px) {
    .container-circle-arrow{
        position: relative;
    }

    .moldura-first-1, .moldura-first-2, .moldura-first-3, .moldura-first-4, .moldura-second-5, .moldura-second-6, .moldura-second-7, .moldura-second-8{
        width: 80%;
        height: 130%;
    }

    [id^=canvas]{
        top: 12%;
        left: 0;
        height: 85%;
        row-gap: 0px;
        align-items: center;
        align-self: center;
    }

    .card-gap{
        row-gap: 30px;
    }

    [class^="moldura-first"]::before, [class^="moldura-second"]::before{
        content: '';
        display: none;
    }

    .zoom-art,.zoom-art-2{
        display: none;
    }

    .arte-info{
        width: 90%;
        height: 120%;
        padding: 10px;
        position: static;
        margin: 0px 200px 0px 200px;
        bottom: 400px;
    }

    .hidden{
        display: none!important;
    }
    
    .arte-info h1{
        margin: 5px;
        font-size: 22pt;
        font-style: italic;
        font-weight: 500;
        text-align: center;
        border-radius: 20px;
    }
    
    .arte-info ul{
        text-align: start;
        list-style: none;
        padding: 0px;
        margin: 0px;
    }
    
    .arte-info li{
        font-size: 12pt;
        margin: 7px;
        font-weight: 600;
    }
    
    .arte-info span{
        font-weight: lighter;
    }
    
    .arte-info p:first-of-type{
        text-align: center;
        font-style: italic;
        font-size: 14pt;
        font-weight: 600;
        margin: 10px 0px 20px 0px;
    }
}

@media (min-width: 767.98px) {
    
    .artists-menu-container{
        transition: opacity 1s, margin 0.6s, visibility 1s;
        position: absolute;
        bottom: 0;
        margin-top: 100px;
        opacity: 0;
        visibility: hidden;
        z-index: 1;
    }

    .artists-menu-container-active{
        transition: opacity 1s 1s, margin 0.6s 1s ease;
        height: 7vh;
        margin-top: 0px;
        opacity: 1;
        z-index: 1;
        visibility: visible;
    }

    .hero-section-info-container{
        position: absolute;
        transition: all 0.6s;
        right: 0;
        top: 14vh;
        z-index: 100;
        opacity: 0;
        visibility: hidden;
        transform: translate(300px);
        background-color: #000000a1;
        min-height: 70vh;
    }

    .hero-section-info-container hr{
        border: 1px solid rgb(255, 255, 255);
        z-index: 100;
        width: 70%;
        align-self: center;
    }

    .hero-section-info-shown{
        transition: all 1.5s;
        opacity: 1;
        visibility: visible;
        transform: translate(0px);
    }

    .hero-section-info-text-shown{
        animation: fadeUpAnim 1s forwards;
    }


    @keyframes fadeUpAnim{
    from{opacity: 0; translate: 0 30px;}
    to{opacity: 1; translate: 0 0px}
    }

    #movement-title-name{
        font-size: 3em;
        font-family: "Sorts Mill Goudy", serif;
        font-weight: 400; 
        color: #FFFFFF;
        text-align: center;
        overflow: hidden;
        text-transform: uppercase;
    }

    #movement-title-name::before, #movement-title-name::after{
        content: "";
        display: inline-block;
        width: 0%;
        height: 2px;
        background-color: white;
        position: relative;
        vertical-align: middle;
    }

    #movement-title-name::after{ 
        width: 50%;
        left: 0.5em;
        margin-right: -50%;
    }

    #movement-title-name::before {
        width: 50%;
        right: 0.5em;
        margin-left: -50%;
    }

    #movement-artist-name{
        font-family: 'Fustat';
        font-style: normal;
        font-size: 4em;
        font-weight: 400;
        color: #dbb7ae;
    }

    [id^=movement-artist-text]{
        position: relative;
        font-size: 1.2rem;
        font-family: 'Varela Round';
        color: white;
        text-align: justify;
        padding: 0px 50px;
    }

    .about-button{
        width: fit-content;
        background-color: transparent;
        position: relative;
        font-family: 'Fustat';
        font-size: 1.2em;
        border: 2px solid var(--used-color);
        padding: 10px 20px ;
        align-self: center;
        color: white;
        cursor: pointer;
    }

    .article-btn-shown{
        animation: fadeLeftAnim 1s forwards;
    }

    @keyframes fadeLeftAnim{
        from{opacity: 0; translate: 50px;}
        to{opacity: 1; translate: 0px;}
    }

    .about-button-background{
        left: 0;
        top: 0;
        position: absolute;
        background-color: var(--used-color);
        width: 100%;
        height: 0%;
        z-index: -1;
        transition: 0.4s ;
        border-radius: 0 0 90% 90%;
    }

    .about-button:hover .about-button-background{
        height: 100%;
        border-radius: 0 0 0 0;
        background-color: var(--used-color);
    }
}

@media (max-width: 767.98px){
    .artists-menu-container{
        transition: opacity 1s, transform 0.6s, visibility 1s;
        height: 7vh;
        transform: translateX(-0px);
        opacity: 0;
        visibility: hidden;
        z-index: 1;
    }
    
    .artists-menu-container-active{
        transition: opacity 1s 1s, transform 0.6s 1s;
        transform: translateX(0px);
        bottom: 50%;
        opacity: 1;
        z-index: 1;
        visibility: visible;
    }

    .slide-off{
        animation: slide-off-anim 1s 0.6s forwards;
    }

    .slide-on{
        animation: slide-on-anim 1s forwards;
    }

    @keyframes slide-off-anim {
        from{translate: 0px 0px}
        to{translate: -700px 0px}
    }

    
    @keyframes slide-on-anim {
        from{translate: -700px 0px}
        to{translate: 0px 0px}
    }

    .hero-section-info-container{
        transition: all 0.6s;
        position: relative;
        z-index: 100;
        opacity: 0;
        transform: translate(300px);
        background-color: #000000a1;
        max-height: 64vh;
        overflow-y: scroll;
        overflow-x: hidden;
        bottom: 30vh;
        visibility: hidden;
    }
    
    .hero-section-info-container hr{
        border: 1px solid rgb(255, 255, 255);
        z-index: 100;
        width: 70%;
        align-self: center;
    }
    
    .hero-section-info-shown{
        transition: all 1s 1s;
        opacity: 1;
        transform: translate(0px);
        visibility: visible;
    }
    
    .hero-section-info-text-shown{
        animation: fadeUpAnim 1s 1s forwards;
    }
    
    
    @keyframes fadeUpAnim{
       from{opacity: 0; translate: 0 30px;}
       to{opacity: 1; translate: 0 0px}
    }

    #movement-title-name{
        font-size: 2rem;
        font-family: "Sorts Mill Goudy", serif;
        font-weight: 400; 
        color: #FFFFFF;
        text-align: center;
        text-transform: uppercase;
    }

    #movement-title-name::before, #movement-title-name::after{
        content: "";
        display: inline-block;
        width: 0%;
        height: 2px;
        background-color: white;
        position: relative;
        vertical-align: middle;
    }

    #movement-title-name::after{ 
        width: 50%;
        left: 0.5em;
        margin-right: -50%;
    }

    #movement-title-name::before {
        width: 50%;
        right: 0.5em;
        margin-left: -50%;
    }

    #movement-artist-name{
        font-family: 'Fustat';
        font-style: normal;
        font-size: 3em;
        font-weight: 400;

        text-align: center;
        color: #dbb7ae;
    }

    [id^=movement-artist-text]{
        position: relative;
        font-size: 1.2rem;
        font-family: 'Varela Round';
        color: white;
        text-align: justify;
        padding: 0px 30px;
    }

    .about-button{
        width: fit-content;
        background-color: transparent;
        position: relative;
        font-family: 'Fustat';
        font-size: 1.2em;
        border: 2px solid var(--used-color);
        padding: 10px 20px ;
        align-self: center;
        color: white;
        cursor: pointer;
    }

    .article-btn-shown{
        animation: fadeLeftAnim 1s forwards;
    }

    .menu-back-btn-container{
        transition: all 0.3s;
        position: absolute;
        z-index: 100;
        bottom: 2%;
        opacity: 0;
        visibility: hidden;
    }

    .menu-back-btn{
        color: white;
        background-color: transparent;
        border: none;
        font-size: calc(5vh + 4vw);
        line-height: 35pt;

    }

    .menu-back-btn-shown{
        transition: all 1s 1s;
        opacity: 1;
        visibility: visible;
    }

    [class^="expand-main"]{
        align-self: center;
        position: relative;
        width: 50px;
        height: 50px;
        border-radius: 50%;
        display: flex;
    }
}
